@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Type styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-light);
    margin-bottom: 1rem;
}

/* Buttons */
.btn {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}